{% include base_path %}

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &nbsp;·&nbsp;
  <a href="mailto:{{ site.author.email }}">Email</a> &nbsp;·&nbsp;
  <a href="{{ site.author.googlescholar }}">Google Scholar</a> &nbsp;·&nbsp;
  <a href="{{ site.author.orcid }}">ORCID</a> &nbsp;·&nbsp;
  <a href="https://github.com/{{ site.author.github }}">GitHub</a> &nbsp;·&nbsp;
  <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a>
</div>
